.my-nav{
    border-bottom: 2px solid rgba(201, 240, 155, 0.42);
}
.login {
    width: 100px;
}
.my-form{
width: 500px;
    padding :20px;
    border: 1px solid #3d3a3a;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 100px;
}
.info{

}
.my-alert{

    margin :0 auto ;
}
.my-pig{

}